<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandstackRegisters</key>
	<dict>
		<key>10m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>28000000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>28300000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>29300000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>12m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>24890000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>24930000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>24960000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>15m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>21000000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>21200000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>21275000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>160m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>1800000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>1900000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>1950000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>17m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>18068000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>18110000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>18150000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>20m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>14000000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>14150000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>14225000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>30m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>10100000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>10125000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>15150000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>40m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>7000000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>7125000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>7175000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>60m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>5330500</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>5346500</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>5366500</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>6m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>50000000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>50100000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>2550</integer>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>51100000</integer>
				<key>mode</key>
				<integer>1</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>80m</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-150</integer>
				<key>frequency</key>
				<integer>3500000</integer>
				<key>mode</key>
				<integer>3</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>3600000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<real>150</real>
				<key>filterLow</key>
				<integer>-2550</integer>
				<key>frequency</key>
				<integer>3600000</integer>
				<key>mode</key>
				<integer>0</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>GEN</key>
		<array>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>6000</integer>
				<key>filterLow</key>
				<integer>-6000</integer>
				<key>frequency</key>
				<integer>10000000</integer>
				<key>mode</key>
				<integer>10</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>6000</integer>
				<key>filterLow</key>
				<integer>-6000</integer>
				<key>frequency</key>
				<integer>5000000</integer>
				<key>mode</key>
				<integer>10</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AGC</key>
				<integer>2</integer>
				<key>filterHigh</key>
				<integer>6000</integer>
				<key>filterLow</key>
				<integer>-6000</integer>
				<key>frequency</key>
				<integer>2500000</integer>
				<key>mode</key>
				<integer>10</integer>
				<key>preamp</key>
				<false/>
				<key>subAGC</key>
				<integer>2</integer>
				<key>subEnabled</key>
				<false/>
				<key>subFilterHigh</key>
				<integer>150</integer>
				<key>subFilterLow</key>
				<integer>-2550</integer>
				<key>subFrequency</key>
				<integer>3501000</integer>
				<key>subMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>dither</key>
	<false/>
	<key>filterHigh</key>
	<integer>3000</integer>
	<key>filterList</key>
	<array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>800</string>
				<integer>800</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>600</string>
				<integer>600</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
			<array>
				<string>400</string>
				<integer>400</integer>
			</array>
			<array>
				<string>250</string>
				<integer>250</integer>
			</array>
			<array>
				<string>100</string>
				<integer>100</integer>
			</array>
			<array>
				<string>50</string>
				<integer>50</integer>
			</array>
			<array>
				<string>25</string>
				<integer>25</integer>
			</array>
			<array>
				<string>15</string>
				<integer>15</integer>
			</array>
			<array>
				<string>10</string>
				<integer>10</integer>
			</array>
		</array>
		<array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>800</string>
				<integer>800</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>600</string>
				<integer>600</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
			<array>
				<string>400</string>
				<integer>400</integer>
			</array>
			<array>
				<string>250</string>
				<integer>250</integer>
			</array>
			<array>
				<string>100</string>
				<integer>100</integer>
			</array>
			<array>
				<string>50</string>
				<integer>50</integer>
			</array>
			<array>
				<string>25</string>
				<integer>25</integer>
			</array>
			<array>
				<string>15</string>
				<integer>15</integer>
			</array>
			<array>
				<string>10</string>
				<integer>10</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
	</array>
	<key>filterLow</key>
	<integer>-3000</integer>
	<key>filterSymmetry</key>
	<false/>
	<key>highBandscopeLevel</key>
	<real>20</real>
	<key>highPanLevel</key>
	<integer>-10</integer>
	<key>highWaterColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg2LkfT+Dsj52P4N3RCo+AYY=
	</data>
	<key>highWaterLevel</key>
	<string>-10</string>
	<key>lowBandscopeLevel</key>
	<real>-20</real>
	<key>lowPanLevel</key>
	<integer>-110</integer>
	<key>lowWaterColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAAAAYY=
	</data>
	<key>lowWaterLevel</key>
	<string>-110</string>
	<key>mercuryPresent</key>
	<true/>
	<key>micGain</key>
	<real>1</real>
	<key>mode</key>
	<integer>10</integer>
	<key>oneTwentyTwoMHzSource</key>
	<integer>0</integer>
	<key>openCollectors</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>pan</key>
	<real>0.5</real>
	<key>penelopePresent</key>
	<false/>
	<key>random</key>
	<false/>
	<key>receiverFrequency</key>
	<integer>10000000</integer>
	<key>sampleRate</key>
	<integer>192000</integer>
	<key>subEnabled</key>
	<false/>
	<key>subFilterHigh</key>
	<integer>3000</integer>
	<key>subFilterList</key>
	<array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>800</string>
				<integer>800</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>600</string>
				<integer>600</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
			<array>
				<string>400</string>
				<integer>400</integer>
			</array>
			<array>
				<string>250</string>
				<integer>250</integer>
			</array>
			<array>
				<string>100</string>
				<integer>100</integer>
			</array>
			<array>
				<string>50</string>
				<integer>50</integer>
			</array>
			<array>
				<string>25</string>
				<integer>25</integer>
			</array>
			<array>
				<string>15</string>
				<integer>15</integer>
			</array>
			<array>
				<string>10</string>
				<integer>10</integer>
			</array>
		</array>
		<array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>800</string>
				<integer>800</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>600</string>
				<integer>600</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
			<array>
				<string>400</string>
				<integer>400</integer>
			</array>
			<array>
				<string>250</string>
				<integer>250</integer>
			</array>
			<array>
				<string>100</string>
				<integer>100</integer>
			</array>
			<array>
				<string>50</string>
				<integer>50</integer>
			</array>
			<array>
				<string>25</string>
				<integer>25</integer>
			</array>
			<array>
				<string>15</string>
				<integer>15</integer>
			</array>
			<array>
				<string>10</string>
				<integer>10</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>5.0k</string>
				<integer>5000</integer>
			</array>
			<array>
				<string>4.4k</string>
				<integer>4400</integer>
			</array>
			<array>
				<string>3.8k</string>
				<integer>3800</integer>
			</array>
			<array>
				<string>3.3k</string>
				<integer>3300</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.7k</string>
				<integer>2700</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.1k</string>
				<integer>2100</integer>
			</array>
			<array>
				<string>1.8k</string>
				<integer>1800</integer>
			</array>
			<array>
				<string>1.0k</string>
				<integer>1000</integer>
			</array>
			<array>
				<string>750</string>
				<integer>750</integer>
			</array>
			<array>
				<string>500</string>
				<integer>500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
		<array>
			<array>
				<string>16k</string>
				<integer>16000</integer>
			</array>
			<array>
				<string>12k</string>
				<integer>12000</integer>
			</array>
			<array>
				<string>10k</string>
				<integer>10000</integer>
			</array>
			<array>
				<string>8.0k</string>
				<integer>8000</integer>
			</array>
			<array>
				<string>6.6k</string>
				<integer>6600</integer>
			</array>
			<array>
				<string>5.2k</string>
				<integer>5200</integer>
			</array>
			<array>
				<string>4.0k</string>
				<integer>4000</integer>
			</array>
			<array>
				<string>3.1k</string>
				<integer>3100</integer>
			</array>
			<array>
				<string>2.9k</string>
				<integer>2900</integer>
			</array>
			<array>
				<string>2.4k</string>
				<integer>2400</integer>
			</array>
			<array>
				<string>2.0k</string>
				<integer>2000</integer>
			</array>
			<array>
				<string>1.5k</string>
				<integer>1500</integer>
			</array>
		</array>
	</array>
	<key>subFilterLow</key>
	<integer>-3000</integer>
	<key>subFrequency</key>
	<integer>10001000</integer>
	<key>subMode</key>
	<integer>10</integer>
	<key>subPan</key>
	<real>0.5</real>
	<key>subVolume</key>
	<real>0.10000000000000001</real>
	<key>systemAudio</key>
	<false/>
	<key>systemAudioGain</key>
	<integer>100</integer>
	<key>tenMHzSource</key>
	<integer>0</integer>
	<key>txGain</key>
	<real>1</real>
	<key>volume</key>
	<real>0.10000000000000001</real>
</dict>
</plist>
