<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OzyDriver.dither</key>
	<false/>
	<key>OzyDriver.mercuryPresent</key>
	<true/>
	<key>OzyDriver.micGain</key>
	<integer>1</integer>
	<key>OzyDriver.oneTwentyTwoMHzSource</key>
	<integer>0</integer>
	<key>OzyDriver.penelopePresent</key>
	<false/>
	<key>OzyDriver.random</key>
	<false/>
	<key>OzyDriver.sampleRate</key>
	<integer>192000</integer>
	<key>OzyDriver.tenMHzSource</key>
	<integer>0</integer>
	<key>OzyDriver.txGain</key>
	<integer>1</integer>
</dict>
</plist>
